body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(56, 1, 63), rgb(255,223,16));
}

.box {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}

fieldset {
    border: 3px solid rgb(245, 245, 16);
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(49, 49, 49);
    outline: none;
    color: rgb(28, 28, 28);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: rgb(56, 56, 56);
}

#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit {
    background-color: rgb(245, 245, 16);
    width: 100%;
    border: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(56, 1, 63);
    color: white;
}