body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(6, 63, 1), rgb(254, 136, 67));
}
 
div{
    background-color: rgba(238, 235, 235, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: blue;
}
 
input{
    padding: 15px;
    width: 85%;
    border: none;
    outline: none;
    font-size: 15px;
}
 
.botaonovo{
    background-color: green;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    font-size: 15px;
}
 
.botaonovo:hover{
    background-color: rgb(254, 136, 67);
    cursor: pointer;
}