body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(6, 63, 11), rgb(254, 136, 67));
}

.box {
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 15%;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(49, 49, 49);
    outline: none;
    color: rgb(28, 28, 28);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.btn-novo {
    background-color: green;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    font-size: 15px;
}